branches:
  except: 
os: linux
dist: trusty
sudo: false
language:
- node_js
node_js:
- node
before_cache: 
cache:
  directories:
  - "$HOME/.local"
  - "$HOME/.npm"
  - "$HOME/.pip-cache/"
before_install: 
install: npm install
before_script: 
script: npm run build
after_success: 
after_failure: 
after_script: 
before_deploy: 
deploy:
  provider: releases
  api_key: ${API_KEY_SECURE}
  skip_cleanup: true
  file: ${FILE_TO_UPLOAD}
  on:
    repo: ${REPO_NAME}
    tags: true    
    all_branches: true
    name: v${TRAVIS_BUILD_NUMBER}.${TRAVIS_BRANCH}.${TRAVIS_BUILD_ID}"
after_deploy: 
